* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'montserratregular', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.white-box {
    background: #fff;
    border-radius: 25px;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
}
.margin-auto {
    margin: 0 auto;
}
.container-white-box {
    padding: 0 3em 2em 3em;
    position: relative;
}
.header-white-box {
    margin-bottom: 0.5em;
    padding: 2em 3em;
    -webkit-box-shadow: 1px 10px 10px -6px rgba(107,35,120,0.2);
    -moz-box-shadow: 1px 10px 10px -6px rgba(107,35,120,0.2);
    box-shadow: 1px 10px 10px -6px rgba(107,35,120,0.2);
    margin-bottom: 1em;
}
.white-box .purple-txt {
    color: #4c4c4c;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -1px;
    font-family: 'montserratextrabold';
}
#PrimerPrestamo {
    width: 100%!important;
    padding-left: 1em;
    padding-right: 1em;
    top: 11px;
    position: absolute;
    box-sizing: border-box;
    display: none;
}
.PrimerPrestamo p {
    color: white;
}
.btn-prestamo-destacado {
    background: #6b2378;
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    font-size: 0.8em;
    text-align: center;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -50px;
    right: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-prestamo-destacado .billetera-icon {
    width: 36px;
    height: 36px;
    background: url(../img/pagos-icon-white.svg) no-repeat;
    background-size: contain;
}

#BtnCircle.BtnCircleTransform{
     animation: BtnCircleTransform;
     background:white;
     animation-duration: .3s;
     -webkit-animation-fill-mode: forwards;
     transition: .2s;
     display:flex;
     flex-direction: row;
     align-items:center;
     justify-content: center;
     -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.10);
     -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.10);
     box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.10);
     color: #6b2378;
 }

 @keyframes BtnCircleTransform{
 
    50%{
      /* width: 150px;
       height: 70px;*/
       border-radius: 50px;
    }
    100%{
      width: 258px;
      height: 40px;
      border-radius: 25px;
      transform: translate(0,75px);
    }  
    
  }
 .btn-prestamo-destacado .billetera-icon {
     width: 36px;
     height: 36px;
     background: url(https://solventa.co/assets/img/pagos-icon-white.svg) no-repeat;
     background-size: contain;
 }
 .btn-prestamo-destacado .billetera-icon.BtnCircleTransformImg{
    background: url(https://solventa.co/assets/img/pagos-icon.svg) no-repeat center;
    background-size: contain;   
    width: 25px;
    margin-right: 0.7em
}
.BoxPurple {
    background: #6b2378;
    color: white!important;
    border-radius: 7px;
    padding: 0.7em 0;
    font-size: 0.8em;
    font-family: 'montserratextralight'!important;
    width: 110px;
    text-align: center;
}
#PrimerPrestamo{
    width: 100%!important;
    padding-left: 1em;
    padding-right: 1em;
    top: 11px;
    position: absolute;
    box-sizing: border-box;
    display: none;
}

.box-elije-dinero{
    width: 100%;
    flex-wrap: wrap;
}
.ContainerEligeDinero{
    position: relative;
}

.green-btn:hover {
    background: #6b2378;
    border: 2px solid #6b2378;
    box-shadow: 0px 10px 20px -7px #6b2378;
    -webkit-box-shadow: 0px 10px 20px -7px #6b2378;
    -moz-box-shadow: 0px 10px 20px -7px #6b2378;
    transition: .2s ease-in;
}
.datos button {
    width: 100%;
}
.datos-box div p:first-child {
    width: 60%;
}
.green-btn {
    background: #85a939;
    border: 2px solid #85a939;
    -webkit-box-shadow: 0px 10px 20px -7px rgba(133,169,57,1);
    -moz-box-shadow: 0px 10px 20px -7px rgba(133,169,57,1);
    box-shadow: 0px 10px 20px -7px rgba(133,169,57,1);
    transition: .2s ease-in;
}
button {
    padding: 1.2em 3em;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-family: 'montserratextrabold';
}
.bold {
    font-weight: 600;
}
.calendar-icon {
    width: 30px;
    margin-left: 1em;
}
.elegi p, .datos p {
    color: #1f1713;
}
.title-barra {
    margin-bottom: 2em;
    margin-top: 2em;
    color: #4c4c4c;
}
.PrimerPrestamo p{
    color: white
}
.BoxPurple {
    background: #6b2378;
    color: white!important;
    border-radius: 7px;
    padding: 0.7em 0;
    font-size: 0.8em;
    font-family: 'montserratextralight'!important;
    width: 110px;
    text-align: center;
}

.box-elije-dinero {
    width: 100%;
    flex-wrap: wrap;
}

.datos-txt {
    color: #6b2378!important;
}
.barra-dinero p {
    color: #a5a5a5;
    font-size: 0.8em;
    margin-top: 0.7em;
}

.barra-dinero div div {
    justify-content: space-between;
}

/*
 * ───────────────────────────────────────────────────────────── RANGE SLIDER ─────
 */
 
 .SliderBar {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    outline: none;
    background: #e6e6e6;
    position: relative;
    border-radius: 15px;
  }
  
  
  .SliderBar::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     cursor: pointer;
     border: 0.2vw solid #fff;
      cursor: pointer;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #6b2378;
     -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.35);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position:relative;
      transition: .3s;
  }
  
  .SliderBar:active::-webkit-slider-thumb{
      border: 0.17vw solid #fff;
      transition: .3s;
  }
    
  .datos .box-1 {
    background: white;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
}
.datos .box-1, .datos .box-2 {
    padding: 1em 3em;
    background: #ecedef;
    border-radius: 10px;
    font-size: 12px;
}
.datos .box-2 {
    margin-bottom: 0.8em;
}
.datos .box-1 {
    margin-bottom: 1em;
}
.datos-box div p:last-child {
    width: 40%;
}
.datos-box div {
    padding: 0.5em 0;
    justify-content: space-around;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.elegi {
    width: 55%;
}

@media (min-width:1000px){
    .white-box {
        margin-top: 5em;
    }

}

@media (max-width: 1000px){
    .title-barra {
        margin-top: 2em;
    }
}
@media (max-width: 800px){
    .white-box {
        margin-top: 1em;
    }
    .container-white-box {
        padding: 2em 1em;
    }
}
